* {
  margin: 0;
}

:root {
  font-family:  Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #313030;
  

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424c5;
}

table {
  width: 100%;
  color: #b7b7b7;
  font-family:  'Calibri';
  font-weight: 200;
}


table img {
  width: 32px;
  height: fit-content;
  border-radius: 10%;
}


  button {
  background-color: #0f0f0f;
  border-radius: 6px;
  padding: 6px 12px;
  border: 0;
  box-shadow: none;
  color: #b7b7b7 ;
  cursor:pointer
}

table th {
 font-weight: 600;
}

table tr:hover {
  background-color: rgba(12, 142, 235, 0.515) !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.clear-filter {
  background-color: transparent;
  color: #b7b7b7 ;
  width: 15px;
  padding: 0;
}

.filter-div{
  display: flex;
}